In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel(r"C:\Users\Ramana Reddy (Rakhi)\Downloads\Delhi,Hydderabad,Mumbai,Patna.xlsx")

In [3]:
df.head()

,City,Date,PM_2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
1,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
2,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
3,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
4,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7882 entries, 0 to 7881
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        6496 non-null   object
 1   Date        6496 non-null   datetime64[ns]
 2   PM_2.5      6218 non-null   float64
 3   PM10        4543 non-null   float64
 4   NO          6394 non-null   float64
 5   NO2         6393 non-null   float64
 6   NOx         6441 non-null   float64
 7   NH3         4232 non-null   float64
 8   CO          6455 non-null   float64
 9   SO2         6315 non-null   float64
 10  O3          6268 non-null   float64
 11  Benzene     6313 non-null   float64
 12  Toluene     5529 non-null   float64
 13  Xylene      5528 non-null   float64
 14  AQI         6113 non-null   float64
 15  AQI_Bucket  6113 non-null   object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 985.4+ KB

In [5]:
df.isnull().sum()

City          1386
Date          1386
PM_2.5        1664
PM10          3339
NO            1488
NO2           1489
NOx           1441
NH3           3650
CO            1427
SO2           1567
O3            1614
Benzene       1569
Toluene       2353
Xylene        2354
AQI           1769
AQI_Bucket    1769
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df.isnull().sum()

City          0
Date          0
PM_2.5        0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [8]:
df.head()

,City,Date,PM_2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
1,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
2,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
3,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
4,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor

In [9]:
 label_encoder = preprocessing.LabelEncoder()
df['City']= label_encoder.fit_transform(df['City'])

In [10]:
x=df.drop(['AQI_Bucket','AQI','Date'],axis=1)
y=df.AQI

In [11]:
x.head()

,City,PM_2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
0,0,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84
1,0,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29
2,0,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99
3,0,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34
4,0,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96

In [12]:
y.head()

0    472.0
1    454.0
2    143.0
3    319.0
4    325.0
Name: AQI, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Perceptron
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor,GradientBoostingRegressor,HistGradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error,r2_score

In [14]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3696 entries, 0 to 7881
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City     3696 non-null   int32
 1   PM_2.5   3696 non-null   float64
 2   PM10     3696 non-null   float64
 3   NO       3696 non-null   float64
 4   NO2      3696 non-null   float64
 5   NOx      3696 non-null   float64
 6   NH3      3696 non-null   float64
 7   CO       3696 non-null   float64
 8   SO2      3696 non-null   float64
 9   O3       3696 non-null   float64
 10  Benzene  3696 non-null   float64
 11  Toluene  3696 non-null   float64
 12  Xylene   3696 non-null   float64
dtypes: float64(12), int32(1)
memory usage: 389.8 KB

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

# LinearRegression()

In [16]:
lr= LinearRegression()
model_lr=lr.fit(x_train,y_train)
pred_lr=model_lr.predict(x_test)

In [17]:
print("the MEAN SQUARED ERROR of the liner regression is:",mean_squared_error(y_test,pred_lr))
print("the r2_score of the liner regression is:",r2_score(y_test,pred_lr))

the MEAN SQUARED ERROR of the liner regression is: 1135.7775747212233
the r2_score of the liner regression is: 0.9173315238824777

# RandomForestRegressor()

In [18]:
rf=RandomForestRegressor()
model_rf=rf.fit(x_train,y_train)
pred_rf=model_rf.predict(x_test)
pred_rf_data=pd.DataFrame(pred_rf)
pred_rf_data.head(10)

        0
0   72.23
1  215.63
2  108.90
3  109.79
4  245.92
5  219.87
6  189.42
7   62.30
8   98.90
9   57.49

In [19]:
print("the mean square error of the randomforest regression is:",mean_squared_error(y_test,pred_rf))
print("the r2_score of the randomforest regression is:",r2_score(y_test,pred_rf))

the mean square error of the randomforest regression is: 689.545199458972
the r2_score of the randomforest regression is: 0.9498109030129269

# KNeighborsRegressor()

In [20]:
knn=KNeighborsRegressor()
model_knn= knn.fit(x_train,y_train)
pred_knn=model_knn.predict(x_test)
pred_knn_data=pd.DataFrame(pred_knn)
pred_knn_data.head(10)

       0
0   68.2
1  192.2
2  107.2
3  110.6
4  173.6
5  222.2
6  244.4
7   61.2
8  103.2
9   60.4

In [21]:
print("the mean square error of the knn regression is:",mean_squared_error(y_test,pred_knn))
print("the r2_score of the knn regression is:",r2_score(y_test,pred_knn))

the mean square error of the knn regression is: 756.7920288548241
the r2_score of the knn regression is: 0.9449162889321245

# AdaBoostRegressor()

In [22]:
ada=AdaBoostRegressor()
model_ada=ada.fit(x_train,y_train)
pred_ada=model_ada.predict(x_test)
r2_score(y_test,pred_ada)

0.8802603802885052

# BaggingRegressor()

In [23]:
bagg=BaggingRegressor()
model_bagg=bagg.fit(x_train,y_train)
pred_bagg=model_bagg.predict(x_test)
r2_score(y_test,pred_bagg)

0.9443618245816103

# GradientBoostingRegressor()

In [24]:
gdb=GradientBoostingRegressor()
model_gdb=gdb.fit(x_train,y_train)
pred_gdb=model_gdb.predict(x_test)
r2_score(y_test,pred_gdb)

0.9449406362592975

# SUPPORT VECTOR REFRESSION

In [26]:
 svr=SVR()
model_svr=svr.fit(x_train,y_train)
pred_svr=model_svr.predict(x_test)
r2_score(y_test,pred_svr)

0.867778536598352

# HistGradientBoostingRegressor()

In [27]:
hgdb=HistGradientBoostingRegressor()
model_hgdb=hgdb.fit(x_train,y_train)
pred_hgdb=model_hgdb.predict(x_test)
r2_score(y_test,pred_hgdb)

0.9496458172218221